<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>proj - html - vuejs</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Mono&display=swap" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <div id="root">

            <!-- __________HEADER__________ -->
            <header>
                <div class="container">
                    <div class="header-boxes">

                        <div class="header-box" v-for="box in header_boxes">
                            <a href="" class="header-link" v-if="box.type == 'link'">
                                <i :class="box.icon_class"></i>
                                <h3 class="">{{box.h3}}</h3>
                                <p class="">{{box.p}}</p>
                            </a>
                            <div class="header-logo" v-if="box.type == 'logo'">
                                <img :src="box.img_src" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </header>

            <!-- __________PRIMA_SEZIONE__________ -->
            <section class="section-1">
                <div class="flex-box1">
                    <div class="">
                        <h2>Give yourself permission</h2>
                        <h1>Relax, Revive & Rejuvenate</h1>
                    </div>
                    <a href="" class="btn1">
                        <span>Explore treatments</span>
                    </a>
                </div>
                <div class="flex-box-absolute">
                    <a href="" class="demos">
                        <i class="fas fa-copy"></i>
                        <span>Demos</span>
                    </a>
                    <a href="" class="onsale">
                        <div class="price">
                            <span>$36</span>
                        </div>
                        <span>On Sale</span>
                    </a>
                </div>
            </section>

            <!-- __________SECONDA_SEZIONE__________ -->
            <section class="section-2">
                <div class="flex-box2">
                    <h1>Luxury Spa Experiences</h1>
                    <i class="icon-2 fab fa-envira"></i>
                    <h2>Morbi pharetra, quam id consequat imperdiet, lectus est tincidunt massa, eu posuere leo nibh non fermentum</h2>
                    <div class="line">

                    </div>
                    <p>Vestibulum nec velit ante. Praesent dignissim interdum est, in lacinia elit pretium nec.Aliquam erat volutpat.Fusce laoreet mi leo.Vestibulum nec velit ante.Praesent dignissim interdum est, in lacinia elit pretium nec.Aliquam erat volutpat.Fusce laoreet mi leo.</p>
                    <a href="" class="btn2">
                        <span>Our approach</span>
                    </a>
                </div>
                <div class="flex-box3">

                    <div v-for="(item,index) in flex_box3" :class="index % 2 == 0 ? 'internal1' : 'internal2'">
                        <i :class="item.icon_class"></i>
                        <p>{{item.p}}</p>
                    </div>

                </div>

            </section>

        </div>





        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
