<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>proj - html - vuejs</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Mono&display=swap" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <div id="root">

            <!-- __________HEADER__________ -->
            <header>
                <div class="container">
                    <div class="header-boxes">

                        <div class="header-box" v-for="(box, index) in header_boxes">
                            <a href="#" @click="colorActive(index)" class="header-link" v-if="box.type == 'link'">
                                <i :class="[box.active == true ? 'active' : '', box.icon_class]" class="icon-color1"></i>
                                <h3 :class="box.active == true ? 'active' : ''" class="">{{box.h3}}</h3>
                                <p class="">{{box.p}}</p>
                            </a>
                            <div class="header-logo" v-if="box.type == 'logo'">
                                <img :src="box.img_src" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </header>

            <!-- __________PRIMA_SEZIONE__________ -->
            <section class="section-1">
                <div class="flex-box1">
                    <div class="">
                        <h2>Give yourself permission</h2>
                        <h1>Relax, Revive & Rejuvenate</h1>
                    </div>
                    <a href="" class="btn1">
                        <span>Explore treatments</span>
                    </a>
                </div>
                <div class="flex-box-absolute">
                    <a href="" class="demos">
                        <i class="icon-color1 fas fa-copy"></i>
                        <span>Demos</span>
                    </a>
                    <a href="" class="onsale">
                        <div class="price">
                            <span>$36</span>
                        </div>
                        <span>On Sale</span>
                    </a>
                </div>
            </section>

            <!-- __________SECONDA_SEZIONE__________ -->
            <section class="section-2">
                <div class="flex-box2">
                    <h1>Luxury Spa Experiences</h1>
                    <i class="icon-color1 fab fa-envira"></i>
                    <h2>Morbi pharetra, quam id consequat imperdiet, lectus est tincidunt massa, eu posuere leo nibh non fermentum</h2>
                    <div class="line">

                    </div>
                    <p>Vestibulum nec velit ante. Praesent dignissim interdum est, in lacinia elit pretium nec.Aliquam erat volutpat.Fusce laoreet mi leo.Vestibulum nec velit ante.Praesent dignissim interdum est, in lacinia elit pretium nec.Aliquam erat volutpat.Fusce laoreet mi leo.</p>
                    <a href="" class="btn2">
                        <span>Our approach</span>
                    </a>
                </div>
                <div class="flex-box3">

                    <div v-for="(item,index) in flex_box3" :class="index % 2 == 0 ? 'internal1' : 'internal2'">
                        <i class="icon-color1" :class="item.icon_class"></i>
                        <p>{{item.p}}</p>
                    </div>

                </div>

            </section>

            <!-- __________TERZA_SEZIONE__________ -->
            <section class="section-3">
                <div class="container">
                    <div class="flex-box4">

                        <div class="left">
                            <img src="img/face_and_body_treatments-new.jpg" alt="">
                        </div>

                        <div class="right">
                            <h1>Face & Body Treatments</h1>
                            <p>Pellentesque nec felis efficitur, saggitis eros et,pharetra risus.Sed at lacus a ex imperdiet dignissim vehicula quam.Vestibulum ante ipsum primis.</p>
                            <div class="add-treatments">
                                <div class="treatment" v-for="(box,index) in add_treatments_box">
                                    <div class="upper-treatment">
                                        <div v-if="box.active == false" @click="treatmentToggle(index)" class="add">
                                            {{box.add_icon}}
                                        </div>
                                        <div @click="treatmentToggle(index)" v-if="box.active == true" class="remove">
                                            {{box.remove_icon}}
                                        </div>
                                        <h2>{{box.h2}}</h2>
                                    </div>
                                    <p v-if="box.active == true">{{box.p}}<span>{{box.span}}</span></p>
                                </div>
                            </div>

                            <a href="" class="btn2">
                                <span>Book an appointment</span>
                            </a>
                        </div>

                    </div>
                </div>
            </section>

            <!-- __________FOOTER__________ -->
            <footer>
                <div class="footer-boxes">
                    <div class="footer-box" v-for="(box,index) in footer_boxes">
                        <div class="footer-logo" v-if="box.type == 'logo'">
                            <img :src="box.src" alt="">
                        </div>
                        <div class="credits" v-if="box.type == 'credits'">
                            <p><span>&copy; </span>{{box.p}}</p>
                        </div>
                        <div class="social" v-if="box.type == 'socials'">
                            <a href="#" v-for="social in box.icons">
                                <i :class="social.icon_class"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>





        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
