*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: unset;
}

h2{
    color: #d3cac0;
    font-style: italic;
}

/* __________HEADER__________ */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    /* border: 1px solid black; */
    font-family: 'Oswald', sans-serif;
}

header .container{
    width: 80%;
}

.header-boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 100px; */
    /* border: 1px solid black; */
}

.header-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.header-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-1.fas.fa-home{
    color:#6cd6e1;
}

.header-link .icon-1{
    color: #6c6c6c;
}

.icon-2{
    color: #bcafa1;
}

.header-link i{
    color: #bcafa1;
    padding: 5px;
}

.header-link h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #6c6c6c;
    font-size: 15px;
}

.header-link p{
    letter-spacing: 1px;
    font-size: 12px;
    color: rgba(128, 128, 128, 0.5);
}

.header-logo{
    display: flex;
    align-items: center;
    font-size: 18px;
}
.header-logo h1{
}

/* __________SEZIONE_1__________ */
.section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("img/avada-spa-slider-image-1-new.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.flex-box1{
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.flex-box1 > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section-1 h2{
    font-size: 40px;
}

.section-1 h1{
    color: #ffffff;
    font-size: 90px;
}

.btn1{
    text-transform: uppercase;
    background-color: #bcafa1;
    color: whitesmoke;
    font-size: 18px;
    padding: 10px 16px;
    border-radius: 20px;
}
.btn1:hover{
    background-color: #6cd6e1;
}

.flex-box-absolute{
    position: absolute;
    height: 120px;
    top: 15px;
    right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex-box-absolute > *{
    background: whitesmoke;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-box-absolute span{
    font-weight: bolder;
    font-size: 12px;
    color: #6c6c6c;
}

.demos i{
    color: #bcafa1;
}

.price span{
    font-size: 18px;
    font-weight:bolder;
    color: #126622;
}

/* __________SEZIONE_2__________ */
.section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.flex-box2{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.flex-box2 h1{
    color: #6b6a69;
    font-size: 50px;
    font-weight: lighter;
}
.flex-box2 h2{
    font-size: 30px;
    font-weight: lighter;
}
.flex-box2 .line{
    width: 12%;
    height: 0px;
    border-bottom: 2px solid #bcafa1;
    margin-bottom: 15px;
}
.flex-box2 > *{
    padding: 10px 0;
}
.flex-box2 i{
    font-size: 30px;
    transform: scaleX(-1);
   -moz-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   -ms-transform: scaleX(-1);
}
.flex-box2 p{
    color: #6b6a69;
    margin-bottom: 25px;
}

.btn2{
    text-transform: uppercase;
    border: 2px solid  #bcafa1;
    color: #bcafa1;
    font-size: 16px;
    padding: 10px 16px;
    border-radius: 20px;
}
.btn2:hover{
    border: 2px solid  #6cd6e1;
    color: #6cd6e1;
}

.flex-box3{
    /* border: 1px solid black; */
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    height: 100px;
    padding-left: 33px;
}
.flex-box3 > *{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-box3 i{
    font-size: 40px;
}
.flex-box3 p{
    color: #6b6a69;
    font-size: 14px;
}
.flex-box3 .internal2{
    width: calc(100% / 5);
    position: relative;
    top: 20px;
    /* border: 1px solid black; */
}
