*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: unset;
}

h2{
    color: #d3cac0;
    font-style: italic;
}

/* __________HEADER__________ */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    /* border: 1px solid black; */
    font-family: 'Oswald', sans-serif;
}

header .container{
    width: 80%;
}

.header-boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 100px; */
    /* border: 1px solid black; */
}

.header-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.header-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-link .icon-1{
    color: #6c6c6c;
}

.header-link .icon-2{
    color: #bcafa1;
}

.header-link i{
    color: #bcafa1;
    padding: 5px;
}

.header-link h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #6c6c6c;
    font-size: 15px;
}

.header-link p{
    letter-spacing: 1px;
    font-size: 12px;
    color: rgba(128, 128, 128, 0.5);
}

.header-logo{
    display: flex;
    align-items: center;
    font-size: 18px;
}
.header-logo h1{
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 0 5px;
    color: #bcafa1;
}
.header-logo h1:last-of-type{
    font-weight: lighter;
}

/* __________SEZIONE_1__________ */
.section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("img/avada-spa-slider-image-1-new.jpg");
    background-size: cover;
    position: relative;
}

.flex-box1{
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.flex-box1 > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section-1 h2{
    font-size: 40px;
}

.section-1 h1{
    color: #ffffff;
    font-size: 90px;
}

.btn1{
    text-transform: uppercase;
    background-color: #bcafa1;
    color: whitesmoke;
    font-size: 18px;
    padding: 10px 16px;
    border-radius: 20px;
}
.btn1:hover{
    background-color: #61afc2;
}

.flex-box-absolute{
    position: absolute;
    height: 120px;
    top: 5px;
    right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex-box-absolute > *{
    background: whitesmoke;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-box-absolute span{
    font-weight: bolder;
    font-size: 12px;
    color: #6c6c6c;
}

.price span{
    font-size: 18px;
    font-weight:bolder;
    color: #126622;
}
